/*Ipad ngang(1024 x 768)*/
@media screen and (max-width: 1024px){
    .top_article_img img { width: 318px !important; height: 160px !important; }
}
/*Ipad dọc(768 x 1024)*/
@media screen and (max-width: 768px){
    .logo img { width: 350px !important;}
    .top_article_img img { width: 318px !important; height: 160px !important; }
}
/*Tablet nhỏ(480 x 640)*/
@media screen and (max-width: 480px){
    .logo img { width: 250px !important;}
}
/*Iphone(480 x 640)*/
@media screen and (max-width: 320px){

}
/*Smart phone nhỏ*/
@media screen and (max-width: 240px){

}